* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

:root {
	--color-primary: #08b2c9;
	--color-secondary: #28527a;
	--color-light: #dbf6e9;
	--color-dark: #151515;
}

body {
	font-size: 1.6rem;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	background: var(--color-dark) !important;
	color: var(--color-light);
}

.image_size {
	width: 60rem;
}

.filtrar {
	margin: 0 auto;
	margin-bottom: 4rem;
	text-align: center;
}

input {
	height: 4rem;
	border: none;
	border-radius: 0.5rem;
	padding: 0 1rem;
	outline: var(--color-primary);
	width: 50%;
	font-size: 1.3rem !important;
}

.container-personajes {
	margin: 0 10rem 0 10rem;
}

.lista-personajes {
	width: 100%;
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
	grid-template-columns: repeat(5, 1fr);
	gap: 3rem;
	margin-bottom: 1.5rem;
}

.lista-personajes p {
	font-size: 1.6rem;
	width: max-content;
	color: white;
}

.personaje {
	background: #f4f47e;
	border-radius: 0.3rem;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.1);
	display: grid;
	grid-template: 10rem auto / 1fr;
	overflow: hidden;
	animation: showCard 0.5s linear;
	border-radius: 1rem;
}
@keyframes showCard {
	from {
		opacity: 0;
	}
}
.personaje-header {
	background: var(--color-primary);
	padding: 2rem;
	text-align: right;
}
.estado {
	background: var(--color-secondary);
	display: inline-flex;
	color: var(--color-light);
	padding: 0.5rem 1rem;
	border-radius: 2.5rem;
	font-size: 1.2rem;
	width: auto;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
}
.estado span {
	display: block;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
}
.Alive {
	background: #31a703;
}
.Dead {
	background: #d34b4b;
}
.unknown {
	background: #afafaf;
}

.paginacion {
	color: white;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.paginacion p {
	font-size: 1.5rem;
}

.paginacion button {
	background-color: #00b1cb;
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 1.5rem;
	margin: 4px 2px;
	border-radius: 0.5rem;
}
.personaje-body {
	padding: 8rem 2rem 4rem;
	position: relative;
}
.personaje-body figure {
	position: absolute;
	display: block;
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	top: -6rem;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 1rem 0 var(--color-light);
	overflow: hidden;
}
.personaje-body figure img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.personaje-body h2 {
	width: 100%;
	background: var(--color-primary);
	color: var(--color-dark);
	border-radius: 0.5rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	transition-property: background, color;
	font-size: 1.7rem;
}
.personaje-body p {
	width: 100%;
	background: #ffff;
	color: var(--color-dark);
	border-radius: 0.5rem;
	height: 4rem;
	margin-top: 2rem;
	line-height: 4rem;
	text-align: center;
	font-size: 1.7rem;
}
.personaje-body p span {
	font-weight: bold;
}

/* ==================== BREAKPOINTS ====================  */
@media screen and (max-width: 2200px) {
	.lista-personajes {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 1800px) {
	.lista-personajes {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 1250px) {
	.lista-personajes {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 850px) {
	.container-personajes {
		margin: 0 5rem 0 5rem;
	}
}

@media screen and (max-width: 550px) {
	.container-personajes {
		margin: 0 4rem 0 4rem;
	}
	.lista-personajes {
		grid-template-columns: repeat(1, 1fr);
	}
}
